@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}

a {
    text-decoration: none;
    color: #adadad;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
}

.btn:hover {
    background-color: #92601f;
}

.btn-l {
    width: 100%;
    text-align: center;
}

body {
    background-color: #1e1f26;
    display: grid;
    grid-template-columns: 1000px;
    justify-content: center;
}

/* top bar */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.left-content,
.right-content {
    display: flex;
    align-items: center;
}

.title {
    margin-right: 3rem;
    color: #cd8c38;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 1rem;
}

.navigation li a:hover {
    color: #cd8c38;
}

.active {
    color: #cd8c38;
}

.filter,
.cart,
.help,
.menu {
    position: relative;
    width: 20px;
    height: 20px;
}

.filter,
.cart,
.help {
    margin-right: 1rem;
}

.menu {
    margin-left: .8rem;
}

.filter,
.menu {
    display: none;
}

.profile-img-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main container */

.main-container {
    color: #adadad;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

/* sidebar */

.sidebar {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    backdrop-filter: blur(5px);
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
}

.sidebar-groups {
    margin-bottom: 1rem;
}

.gm-title {
    margin-bottom: .5rem;
    color: #fff;
}

input {
    margin-bottom: .6rem;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    accent-color: #cd8c38;
}

label {
    margin-left: .5rem;
}

/* movies container */

.upcoming-img-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.upcoming-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #cd8c38;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #cd8c38;
    font-weight: 500;
}

.buttons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt {
    background-color: #1e1f26;
    color: #cd8c38;
    border: 1px solid #cd8c38;
    margin-left: 1rem;
}

.btn-alt:hover {
    color: #1e1f26;
    background-color: #cd8c38;
}

/* current game */

.games-container {
    padding-bottom: 2rem;
}

.current-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.current-game {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    padding: 1rem;
    border-radius: .5rem;
}

.gm-img-box {
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.game-title {
    color: #fff;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    color: #cd8c38;
}

/* Login Containers */

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.login-box {
    background-color: #8b550f;
    color: white;
    width: 25rem;
    max-width: 90%;
    height: 28rem;
    padding: 3rem;
    border-radius: 1rem;
}

.login-box input {
    width: 100%;
    height: 2rem;
    border: none;
    padding-left: 5px;
    border-radius: 0.5rem;
}

.login-box p a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.login-btn {
    border: 2px solid #cd8c38;
    height: 3rem;
    width: 100%;
    background-color: black;
    border-radius: 0.5rem;
    transition: .3s;
    margin-top: 0.5rem;
}

.login-btn a {
    display: inline-block;
    text-decoration: none;
    color: #cd8c38;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding-top: 10px;
    
}


.login-btn:hover {
    background-color: #cd8c38;
    border: 2px solid black;
    
}

.login-btn a:hover{
    color: black;
    
}


/* SignUp Containers */

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.signup-box {
    background-color: #8b550f;
    color: white;
    width: 25rem;
    max-width: 90%;
    height: 35rem;
    padding: 3rem;
    border-radius: 1rem;
}

.signup-box input {
    width: 100%;
    height: 2rem;
    border: none;
    padding-left: 5px;
    border-radius: 0.5rem;
}


.signup-box p a {
    text-decoration: none;
    color: #1e1f26;
    font-size: small;
}

.sign-btn {
    border: 2px solid #cd8c38;
    height: 3rem;
    width: 100%;
    background-color: black;
    border-radius: 0.5rem;
    transition: .3s;
    margin-top: 0.5rem;
}

.sign-btn a {
    display: inline-block;
    text-decoration: none;
    color: #cd8c38;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding-top: 10px;
    
}


.sign-btn:hover {
    background-color: #cd8c38;
    border: 2px solid black;
    
}

.sign-btn a:hover{
    color: black;
    
}





/* Profile Containers */

.profile-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.profile-box img {
    width: 30rem;
    height: 30rem;
    border-radius: 5rem;
    max-width: 90%;
    display: inline-block;
    margin: 7rem 20rem 20rem 27rem;

}

.profile-info h1 {
    margin-top: 31rem;
    color: white;
}

.profile-btn {
    height: 10rem;
    width: 20rem;
    background-color: #cd8c38;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    margin-top: 0.5rem;
}



.profile-btn a {
    text-decoration: none;
    color: black;
}

.profile-btn:hover {
    background-color: #92601f;
}

.index-btn {
    height: 10rem;
    width: 62.5rem;
    background-image: url("https://wallpapers.com/images/hd/4k-gaming-background-m5urc32cu4637xpi.jpg");
    background-repeat: no-repeat;
    
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.index-btn-a {
    font-family: "Coiny", system-ui;
    font-weight: 700;
    text-decoration: none;
    color: rgb(247, 115, 27);
    font-size: 4rem;
    
}

    /* Support Container */

.support-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.support-box {
    background-color: #8b550f;
    color: white;
    width: 20rem;
    max-width: 90%;
    height: 28rem;
    padding: 3rem;
    border-radius: 1rem;
}

.support-box {
  width: 100%;
  padding: 2rem 1rem;
}

.support-box textarea {
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

.support-box input {
    width: 100%;
    height: 2rem;
    border: none;
    padding-left: 5px;
    border-radius: 0.5rem;
}



.support-btn {
    border: 2px solid #cd8c38;
    height: 3rem;
    width: 100%;
    background-color: black;
    border-radius: 0.5rem;
    transition: .3s;
    margin-top: 0.5rem;
}

.support-btn a {
    display: inline-block;
    text-decoration: none;
    color: #cd8c38;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding-top: 10px;
    
}


.support-btn:hover {
    background-color: #cd8c38;
    border: 2px solid black;
    
}

.support-btn a:hover{
    color: black;
    
}



/* Cart box */
.cart-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.cart-box {
    background-color: #8b550f;
    color: white;
    width: 30rem;
    max-width: 90%;
    height: 42rem;
    padding: 3rem;
    border-radius: 1rem;
}

.cart-btn {
    border: 2px solid #cd8c38;
    height: 3rem;
    width: 100%;
    background-color: black;
    border-radius: 2rem;
    transition: .3s;
}

.cart-btn a {
    display: inline-block;
    text-decoration: none;
    color: #cd8c38;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding-top: 10px;
    
}


.cart-btn:hover {
    background-color: #cd8c38;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px;
}

.cart-btn a:hover{
    color: black;
    
}


.cart-game {
    background-color: #cd8c38;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 10px;
}

.cart-img-box {
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    border: 2px solid #ffffff;
}


.cart-title {
    color: #000000;
    margin-bottom: .2rem;
}

.cart-booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.cart-price {
    color: #000000;
}

/* Responsive Design */
@media (max-width: 1024px) {
    body {
        grid-template-columns: 100%;
        padding: 0 1rem;
    }

    .main-container {
        grid-template-columns: 1fr;
    }

    .current-games {
        grid-template-columns: repeat(2, 1fr);
    }

    .profile-box img {
        width: 20rem;
    }

    .profile-info h1 {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .filter,
    .menu {
        display: block;
    }

    .current-games {
        grid-template-columns: 1fr;
    }

    .upcoming-img-box {
        height: 200px;
    }

    .gm-img-box {
        height: 120px;
    }

    .login-box,
    .signup-box {
        padding: 2rem;
    }

    .login-container,
    .signup-container {
        margin: 2rem 1rem;
    }
}

@media (max-width: 480px) {

    .btn,
    .login-btn,
    .signup-btn,
    .login-box input,
    .signup-box input {
        width: 100%;
    }

    .upcoming-title {
        font-size: 0.9rem;
        padding: 0.3rem 0.6rem;
    }

    .profile-box img {
        width: 15rem;
        height: 15rem;
    }
}